Repository FitSync-G13/fitsync: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api-gateway, run-notification-service, run-progress-service, run-schedule-service, run-training-service, run-user-service, run-frontend

Add trigger all parameter
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Check write permissions
  README.md
Due: none

Add permissions to yml files
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Fixed config.yml
  .circleci/config.yml
Due: none

Fixed: Change executor version
  .circleci/workflows.yml
Due: none

Fixed: Install pythin 3.8 in execution env
  .circleci/workflows.yml
Due: none

Fix: Increase path filtering version
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Fix: Add python version as tag parameter
  .circleci/config.yml
Due: none

Fix: Improve Dockerfiles
  .circleci/workflows.yml
  frontend/Dockerfile
  frontend/package-lock.json
  services/api-gateway/Dockerfile
  services/notification-service/Dockerfile
  services/progress-service/Dockerfile
  services/schedule-service/Dockerfile
  services/training-service/Dockerfile
  services/user-service/Dockerfile
  services/user-service/package-lock.json
Due: run-api-gateway, run-notification-service, run-progress-service, run-schedule-service, run-training-service, run-user-service, run-frontend

Fixed workflow syntax error
  .circleci/workflows.yml
Due: none

Fixed workflow syntax error II
  .circleci/workflows.yml
Due: none

Fixed workflow syntax error III
  .circleci/workflows.yml
Due: none

Fixed workflow syntax error IV
  .circleci/workflows.yml
Due: none

Fix: Add sudo for trivy install
  .circleci/workflows.yml
Due: none

Fixed trivy package versions
  frontend/package.json
  services/api-gateway/package.json
  services/notification-service/package.json
  services/progress-service/requirements.txt
  services/schedule-service/requirements.txt
  services/training-service/package.json
  services/user-service/package.json
Due: run-api-gateway, run-notification-service, run-progress-service, run-schedule-service, run-training-service, run-user-service, run-frontend

Fixed trivy package versions II
  frontend/package-lock.json
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
  services/training-service/package-lock.json
  services/training-service/package.json
  services/user-service/package-lock.json
Due: run-api-gateway, run-training-service, run-user-service, run-frontend

Fixed trivy package versions III
  frontend/package-lock.json
  frontend/package.json
  services/api-gateway/package.json
  services/notification-service/package.json
  services/training-service/package.json
  services/user-service/package-lock.json
  services/user-service/package.json
Due: run-api-gateway, run-notification-service, run-training-service, run-user-service, run-frontend

Add trivyignore
  .circleci/workflows.yml
  .trivyignore
  frontend/package-lock.json
Due: run-frontend

Reduce artifact starage
  .circleci/workflows.yml
Due: none

Fixed service running issue
  README.md
  docs/QUICK_START.md
  start-all-services.sh
  start-services.bat
Due: none

Multi-repo migration
  APPLICATION_TEST_REPORT.md
  NEXT_STEPS.md
  SEPARATION_COMPLETE.md
  docs/MIGRATION_QUICK_START.md
  docs/MULTI_REPO_MIGRATION_PLAN.md
  docs/REPOSITORY_ARCHITECTURE.md
  docs/REPOSITORY_SEPARATION.md
  docs/REPOSITORY_SEPARATION_STEPS.md
  docs/SERVICE_NETWORK_ARCHITECTURE.md
  frontend/src/components/auth/LoginForm.js
  scripts/separate-repositories.sh
  scripts/update-db-connections-tls.sh
Due: run-frontend

Path conditions:
  run-api-gateway: any of: services/api-gateway/.*
  run-notification-service: any of: services/notification-service/.*
  run-progress-service: any of: services/progress-service/.*
  run-schedule-service: any of: services/schedule-service/.*
  run-training-service: any of: services/training-service/.*
  run-user-service: any of: services/user-service/.*
  run-frontend: any of: frontend/.*
